body { 

  margin: 0; 

  font-family: Arial, Helvetica, sans-serif; 

  background-color: #ebe9ef; 

  color: #333; 

} 
header { 

  background-color: #008f99; 

  color: white; 

  text-align: center; 

  padding: 20px; 

} 